<%= simple_form_for(@ad_booking) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :publication, value: 1 %>
    <%= f.input :date, label: "날짜" %>
    <%= f.input :ad_list,  :input_html => { 'rows' => 25, 'cols' => 50 }%>
  </div>

  <div class="form-group mt-2">
    <%= f.button :submit, "광고예약 생성", class: "btn btn-block btn-primary" %>
  </div>
<% end %>
