

<%= form_for(reporter_graphic) do |f| %>
  <% if reporter_graphic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reporter_graphic.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% reporter_graphic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, "제목:"%>
    <%= f.text_field :title, class: "form-control"%>
  </div>
  
  <div class="form-group">
    <%= f.label :caption, "캡션 내용:" %>
    <%= f.text_area :caption, class: "form-control", rows: 18 %>
  </div>

  <div class="form-group">
    <%= f.label :source, "출처:" %>
    <%= f.text_field :source, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :section_name, "섹션명:" %>
    <%= f.select :section_name, %w[1면 정치 자치행정 국제통일 금융 산업 정책 기획 오피니언], {include_blank: true}, class: "form-control" %>
  </div>

  <div class="form-group mt-3">
    <%= f.submit "저장", class: "btn btn-primary"%>
  </div>
<% end %>


