<%= form_for(ad) do |f| %>
  <% if ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
      <% ad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inline">
    <%= f.label '이름: ', class: "col-3" %>
    <div class="col-9">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-inline mt-2">
    <%= f.label '단:', class: "col-3" %>
    <div class="col-9">
      <%= f.number_field :column, class: "form-control" %>
    </div>
  </div>

  <div class="form-inline mt-2">
    <%= f.label '열:', class: "col-3" %>
    <div class="col-9">
      <%= f.number_field :row, class: "form-control" %>
    </div>
  </div>

  <div class="form-inline mt-2">
    <%= f.label '면의 가로 단:', class: "col-3" %>
    <div class="col-9">
      <%= f.text_field :page_columns, class: "form-control" %>
    </div>
  </div>

  <div class="form-inline mt-2">
    <%= f.label '매체 아이디:', class: "col-3" %>
    <div class="col-9">
      <%= f.text_field :publication_id, class: "form-control" %>
    </div>
  </div>

  <div class="form-group mt-2">
    <%= f.submit "저장", class: "btn btn-primary btn-block" %>
  </div>
<% end %>
