
<p>
  <strong>Page plan:</strong>
  <%= @article_plan.page_plan %>
</p>

<p>
  <strong>Reporter:</strong>
  <%= @article_plan.reporter %>
</p>

<p>
  <strong>Order:</strong>
  <%= @article_plan.order %>
</p>

<%= link_to 'Edit', edit_article_plan_path(@article_plan) %> |
<%= link_to 'Back', article_plans_path %>
