<%= simple_form_for(@story_subcategory) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: "기사 소분류 이름" %>
    <%= f.input :code, label: "기사 소분류 코드" %>
    <%= f.association :story_category, label: "기사 대분류 선택" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
