<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-5">
      <h2 class='text-center'>프로필 수정</h2>


      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>


          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p><%= t(".currently_waiting_confirmation_for_email", email: resource.unconfirmed_email) %></p>
          <% end %>
        <div class="fields">
          <%= f.input :avatar,
                      as: :file,
                      required: false,
                      label: "아바타 첨부",
                      label_html: { class: "label" },
                      input_html: { autocomplete: "new-password", class: "form-control" } %>
        </div>
        <div class="fields">
          <%= f.input :current_password,
                      hint: "변경 내용을 확인하려면 현재 암호가 필요합니다.",
                      required: true,
                      label: "현재 비밀번호",
                      input_html: { autocomplete: "current-password", class: "form-control" } %>
        </div>

        <div class="form-group">
          <%= f.button :submit, "프로필 수정완료", class: 'btn btn-success btn-block mt-3' %>
        </div>
      <% end %>
    </div>
  </div>
</div>