<div class="card">
  <div class="card-header text-light bg-dark">
    <span class="float-left">
      <h4>
        연합 외신 사진
      </h4>
    </span>
    <span class="float-right">
      <%= link_to 'X', yh_photo_trs_path, class: "btn btn-danger" %>
    </span>
  </div>
  <%= image_tag @yh_photo_tr.preview_path, class: "card-img-top rounded-0" %>
  <div class="card-body">
    <h5 class="card-title" style="font-size: 30px;"><%= @yh_photo_tr.title %></h5>
    <p class="card-text"><%= simple_format(@yh_photo_tr.body) %></p>
    <p class="text-secondary text-center font-italic">저작권자(c) 연합뉴스, 무단 전재-재배포 금지</p>
    <p>출고자: <%= simple_format(@yh_photo_tr.taken_by) %></p>
  </div>
  <div class="card-footer">
    <%= link_to "사진선택", taken_yh_photo_tr_path(@yh_photo_tr), method: :get, class: "btn btn-info" %>
  </div>
</div>
