<p id="notice"><%= notice %></p>

<p>
  <strong>Direction:</strong>
  <%= @layout_node.direction %>
</p>

<p>
  <strong>Grid x:</strong>
  <%= @layout_node.grid_x %>
</p>

<p>
  <strong>Grid y:</strong>
  <%= @layout_node.grid_y %>
</p>

<p>
  <strong>Column:</strong>
  <%= @layout_node.column %>
</p>

<p>
  <strong>Row:</strong>
  <%= @layout_node.row %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @layout_node.profile %>
</p>

<p>
  <strong>Node kind:</strong>
  <%= @layout_node.node_kind %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @layout_node.tag %>
</p>

<p>
  <strong>Selected:</strong>
  <%= @layout_node.selected %>
</p>

<p>
  <strong>Actions:</strong>
  <%= @layout_node.actions %>
</p>

<p>
  <strong>Layout:</strong>
  <%= @layout_node.layout %>
</p>

<p>
  <strong>Layout with pillar path:</strong>
  <%= @layout_node.layout_with_pillar_path %>
</p>

<p>
  <strong>Box count:</strong>
  <%= @layout_node.box_count %>
</p>

<%= link_to 'Edit', edit_layout_node_path(@layout_node) %> |
<%= link_to 'Back', layout_nodes_path %>
