<div class="w-100 pl-4 pr-4">
  <div class="row">
    <% @pages.each do |page| %>
      <div class = "col-md-3">
        <div class="card bg-light shadow-sm">
          <!--a href="<%=  page_path(page) %>"><img  src="<%= page.jpg_image_path %>" width="100%"></img></a-->
          <div class="border border-secondary">
            <%= raw page.to_svg_with_jpg %>
          </div>
        </div>
        <p class="text-center">
          <% if page.color_page %>
            <h4 align='center'><%= link_to "#{page.page_number}면", page_path(page), class: "btn btn-danger btn-xs" %></h4>
          <% else %>
            <h4 align='center'><%= link_to "#{page.page_number}면", page_path(page), class: "btn btn-light btn-xs border border-secondary" %></h4>
          <% end %>
        </p>
      </div>
    <% end %>
  </div>
</div>
