<!-- p id="notice"><%= notice %></p-->

<button class="btn-danger large"><%= @issue.date.to_s %> (<%= @issue.number %>)</button>
  <% @clone_pages.each do |page| %>
  <div class = "col-md-3"  align='center'>
  <a href="<%= page_path(page) %>"><img src="<%= page.jpg_image_path %>" width="100%"></img></a>
    <h4 align='center'><%= link_to "#{page.page_number}면", page_path(page), class: "btn btn-default btn-sm" %></h4>
  </div>
    <!-- true -->
  <% end %>

