<!-- p id="notice"><%= notice %></p-->


<h3 align="center"><%= @issue.pages.first.korean_date_string %> : 면배열표</h3>
<div class='row'>
  <div class="col-md-2">
  <p> </p>
  </div >

  <div class="col-md-4 .col-md-offset-2">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="text-align:center;">페이지</th>
          <th style="text-align:center;">마감</th>
          <th style="text-align:center;">면 이름</th>
          <th style="text-align:center;">광고</th>
          <th style="text-align:center;">광고주</th>
          <th style="text-align:center;">수정</th>
        </tr>
      </thead>
      <tbody>
        <% @front_page_plans.each do |page_plan| %>
          <% if page_plan.color_page %>
            <tr style="background-color:pink;">
          <% else %>
            <tr style="background-color:white;">
          <% end %>
              <td style="text-align:center;"><%= page_plan.page_number %></td>
              <td style="text-align:center;"><%= page_plan.deadline %></td>
              <td style="text-align:center;"><%= page_plan.section_name %></td>
              <td style="text-align:center;"><%= page_plan.ad_type %></td>
              <td style="text-align:center;"><%= page_plan.advertiser %></td>
              <% if page_plan.page%>
                <td align="right"><%= button_to "수정", edit_page_plan_path(page_plan), method: :get, class: "btn btn-sm btn-success" %></td>
              <% else %>
                <td align="right"><%= button_to "수정", edit_page_plan_path(page_plan), method: :get, class: "btn btn-sm btn-danger" %></td>
              <% end %>

            </tr>
        <% end %>
      </tbody>
    </table>
 </div>
  <div class='col-md-4'>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>페이지</th>
        <th>마감</th>
        <th>면 이름</th>
        <th>광고</th>
        <th>광고주</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @back_page_plans.each do |page_plan| %>
        <% if page_plan.color_page %>
          <tr style="background-color:pink;">
        <% else %>
          <tr style="background-color:white;">
        <% end %>
            <td style="text-align:center;"><%= page_plan.page_number %></td>
            <td style="text-align:center;"><%= page_plan.deadline %></td>
            <td style="text-align:center;"><%= page_plan.section_name %></td>
            <td style="text-align:center;"><%= page_plan.ad_type %></td>
            <td style="text-align:center;"><%= page_plan.advertiser %></td>
             <% if page_plan.page%>
                <td align="right"><%= button_to "수정", edit_page_plan_path(page_plan), method: :get, class: "btn btn-sm btn-success" %></td>
              <% else %>
                <td align="right"><%= button_to "수정", edit_page_plan_path(page_plan), method: :get, class: "btn btn-sm btn-danger" %></td>
              <% end %>
          </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
<br>

<% if @front_page_plans.first.page %>
<% else %>
  <div align="center">
    <%= link_to "페이지 생성", update_plan_issue_path(Issue.last.id), method: :get, class: "btn-group btn btn-md btn-info" %>
  </div>
<% end %>
