<div data-controller='current-plan' class="pb-5">
  <h3 class="text-center">
    <% if @issue.pages.first == nil || @issue.pages.first == "" %>
      <%= ko_date %>: 면배열표
    <% else %>
      <%= ko_date %>: 면배열표
    <% end %>
  </h3>
  <div class="row">
    <div class="col-sm-6">
      <table class="table text-center">
        <thead>
          <tr>
            <th>페이지</th>
            <th>컬러</th>
            <th style="width: 20%;">면 이름</th>
            <th>광고</th>
            <th style="width: 20%;">광고주</th>
            <th>저장</th>
          </tr>
        </thead>
        <tbody>
          <% @front_page_plans.each do |page_plan| %>
            <%= form_for(page_plan, data: { target: "current-plan.form" }) do |f| %>
              <% if page_plan.color_page %>
                <tr class='bg-pink' data-page-plan-id='<%= page_plan.id %>'>
              <% else %>
                <tr class="bg-white" data-page-plan-id='<%= page_plan.id %>'>
              <% end %>
                <td class="page_number"><%= link_to page_plan.page_number, page_path(page_plan.page) %></td>
                <td class="align-middle"><%= f.check_box :color_page, data: { action: 'change->current-plan#changeBG' } %></td>
                <td><%= f.text_field :section_name, class: "form-control form-control-sm", data: { target: 'current-plan.section_name' } %></td>
                <td><%= f.select :ad_type, @available_ads_for_pages[page_plan.page_number - 1 ], { include_blank: false }, { class: "form-control form-control-sm", data: { target: 'current-plan.ad_type' } } %></td>
                <td><%= f.text_field :advertiser, class: "form-control form-control-sm", autocomplete: "off", data: { target: 'current-plan.advertiser' } %>
                <% if current_user && current_user.role == 'reporter' || current_user.role == 'team_leader' %>
                <% else %>
                  <td class="align-middle"><%= f.submit '저장', class: 'btn btn-sm btn-primary', data: { target: "current-plan.submit" } %></td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-sm-6">
      <table class="table text-center">
        <thead>
          <tr>
            <th>페이지</th>
            <th>컬러</th>
            <th style="width: 20%;">면 이름</th>
            <th>광고</th>
            <th style="width: 20%;">광고주</th>
            <th>저장</th>
          </tr>
        </thead>
        <tbody>
          <% @back_page_plans.each do |page_plan| %>
            <%= form_for(page_plan, data: { target: "current-plan.form" }) do |f| %>
              <% if page_plan.color_page %>
                <tr class='bg-pink' data-page-plan-id='<%= page_plan.id %>'>
              <% else %>
                <tr class="bg-white" data-page-plan-id='<%= page_plan.id %>'>
              <% end %>
              <td class="page_number"><%= link_to page_plan.page_number, page_path(page_plan.page) %></td>
                <td class="align-middle"><%= f.check_box :color_page, data: { action: 'change->current-plan#changeBG' } %></td>
                <td><%= f.text_field :section_name, class: "form-control form-control-sm", data: { target: 'current-plan.section_name' } %></td>
                <td><%= f.select :ad_type, @available_ads_for_pages[page_plan.page_number - 1 ], { include_blank: false }, { class: "form-control form-control-sm", data: { target: 'current-plan.ad_type' } } %></td>
                <td><%= f.text_field :advertiser, class: "form-control form-control-sm", autocomplete: "off", data: { target: 'current-plan.advertiser' } %>
                <% if current_user && current_user.role == 'reporter' || current_user.role == 'team_leader' %>
                <% else %>
                  <td class="align-middle"><%= f.submit '저장', class: 'btn btn-sm btn-primary', data: { target: "current-plan.submit" } %></td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% if @front_page_plans.first.page %>
  <% else %>
    <div class="text-center">
      <%= link_to "페이지 생성", update_plan_issue_path(Issue.last.id), method: :get, class: "btn-group btn btn-sm btn-info" %>
    </div>
  <% end %>
  <!--
  <nav class="navbar fixed-bottom navbar-light bg-light justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "모두 저장", '', class: "btn btn-primary", data: { action: 'current-plan#all_save', disable_with: "<i class='fa fa-spinner fa-spin'></i> 저장 중..."} %>
      </li>
    </ul>
  </nav>
  -->
</div>