

<div class="view" align="center">
<% @pages.each do |page| %>
  <div class='col-xs-12 col-md-12'>
      <div class='col-xs-12 col-md-4'>
        <div class='col-xs-9 col-md-9'>
        <%= raw page.to_story_svg %>
        <h4 align='center'><%= link_to "#{page.page_number}면", page_path(page), class: "btn btn-default btn-sm" %></h4>        </div>
      </div>
      <div class='col-xs-9 col-md-8 table_h300'>
      <h3><%= "#{page.section_name}"%></h3>
      <%= link_to "#{page.page_number}면 기사 리스트", class: "btn btn-success btn-sm" %>
      <table class="table table-striped">
      <thead>
        <tr>
          <th style="text-align:center;">순서</th>
          <th style="text-align:center;">기자</th>
          <th style="text-align:center;">제목</th>
          <th style="text-align:center;">예상 글자수</th>
          <th style="text-align:center;">기사배정</th>
          <th style="text-align:center;">기사편집</th>
        </tr>
      </thead>
      <tbody>
        <% page.working_articles.sort_by{|a| a.order}.each do |working_article| %>
          <% if working_article.story %>
          <tr style="background-color:skyblue;">
          <% else  %>
          <tr>
          <% end  %>
            <td style="text-align:center;"><%= working_article.order %></td>
            <td style="text-align:center;"><%= working_article.reporter %></td>
            <td><%= working_article.title %></td>
            <td style="text-align:center;"><%= working_article.approximate_char_count %></td>
            <td style="text-align:center;"><%= button_to '배정', change_story_working_article_path(working_article), method: :get, class: "btn btn-sm btn-primary" %></td>
            <td style="text-align:center;"><%= button_to '편집', working_article_path(working_article), method: :get, class: "btn btn-sm btn-info" %></button></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>


<% end %>

