<!-- p id="notice"><%= notice %></p-->



<p>
  <strong>X:</strong>
  <%= @heading_ad_image.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @heading_ad_image.y %>
</p>

<p>
  <strong>Width:</strong>
  <%= @heading_ad_image.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @heading_ad_image.height %>
</p>

<p>
  <strong>X in unit:</strong>
  <%= @heading_ad_image.x_in_unit %>
</p>

<p>
  <strong>Y in unit:</strong>
  <%= @heading_ad_image.y_in_unit %>
</p>

<p>
  <strong>Width in unit:</strong>
  <%= @heading_ad_image.width_in_unit %>
</p>

<p>
  <strong>Height in unit:</strong>
  <%= @heading_ad_image.height_in_unit %>
</p>

<p>
  <strong>Page heading:</strong>
  <%= @heading_ad_image.page_heading %>
</p>

<p>
  <strong>Advertiser:</strong>
  <%= @heading_ad_image.advertiser %>
</p>

<%= link_to 'Edit', edit_heading_ad_image_path(@heading_ad_image) %> |
<%= link_to 'Back', heading_ad_images_path %>
