<!-- p id="notice"><%= notice %></p-->

<p>
  <strong>Column:</strong>
  <%= @ad_box_template.column %>
</p>

<p>
  <strong>Row:</strong>
  <%= @ad_box_template.row %>
</p>

<p>
  <strong>Ad type:</strong>
  <%= @ad_box_template.ad_type %>
</p>

<p>
  <strong>Section:</strong>
  <%= @ad_box_template.section %>
</p>

<%= link_to 'Edit', edit_ad_box_template_path(@ad_box_template) %> |
<%= link_to 'Back', ad_box_templates_path %>
