
  <div class = "col-md-6"  align='left' style="padding-bottom: 40px;">
    <%= render 'form', article: @article %>

  </div>
  <div class= "col-md-6">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h4 align="center"><%= @article.make_profile %></h4>
    <img src="<%= @article.pdf_image_path %>"></img>
    <% if @article.article_info[:overflow_text] && @article.article_info[:overflow_text] !=""%>
      <div align="center" width="50%" height="50px" style="color:red;"><%= @article.article_info[:overflow_text]%></div>
    <% elsif @article.article_info[:empty_lines] %>
      <p align="center" >빈줄 수: <%= @article.article_info[:empty_lines] %></p>
      <p align="center"> <%= link_to "빈칸 채우기", fill_article_path(@article), method: :get, class: "btn btn-sm btn-danger" %></p>

    <% else %>
      <p align="center" >자수: <%= @article.article_info[:current_characters] %></p>

    <% end %>

    <div align="center">
      <%= button_to "다운로드 PDF", download_pdf_article_path(@article), method: :get, class: "btn btn-sm btn-danger" %>
    </div>
  </div>

<%= link_to "이미지 추가", add_image_article_path(@article), method: :get, class: "btn btn-sm btn-danger" %>
<%= link_to "저자 이미지 추가", add_personal_image_article_path(@article), method: :get, class: "btn btn-sm btn-danger" %>
<%= link_to "인용문 추가", add_quote_article_path(@article), method: :get, class: "btn btn-sm btn-danger" %>


<div class="button-group">
  <% if @article.column == 7 %>
    <%= link_to "g", seven_articles_path, method: :get, class: "btn btn-sm btn-success" %>
  <% elsif @article.column == 6 %>
    <%= link_to "이전으로", six_articles_path, method: :get, class: "btn btn-sm btn-success" %>
  <% elsif @article.column == 5 %>
    <%= link_to "이전으로", five_articles_path, method: :get, class: "btn btn-sm btn-success" %>
<% elsif @article.column == 4 %>
    <%= link_to "이전으로", four_articles_path, method: :get, class: "btn btn-sm btn-success" %>
<% elsif @article.column == 3 %>
    <%= link_to "이전으로", three_articles_path, method: :get, class: "btn btn-sm btn-success" %>
<% elsif @article.column == 2 %>
    <%= link_to "이전으로", two_articles_path, method: :get, class: "btn btn-sm btn-success" %>
<% elsif @article.column == 1 %>
    <%= link_to "이전으로", one_articles_path, method: :get, class: "btn btn-sm btn-success" %>
<% else %>
    <%= link_to "이전으로", articles_path, method: :get, class: "btn btn-sm btn-success" %>
  <% end %>
</div>
