<p id="notice"><%= notice %></p>

<p>
  <strong>Page heading kind:</strong>
  <%= @publication:belonngs_to.page_heading_kind %>
</p>

<p>
  <strong>Page type:</strong>
  <%= @publication:belonngs_to.page_type %>
</p>

<p>
  <strong>Layout erb:</strong>
  <%= @publication:belonngs_to.layout_erb %>
</p>

<p>
  <strong>Height in lines:</strong>
  <%= @publication:belonngs_to.height_in_lines %>
</p>

<p>
  <strong>Bg image:</strong>
  <%= @publication:belonngs_to.bg_image %>
</p>

<%= link_to 'Edit', edit_publication:belonngs_to_path(@publication:belonngs_to) %> |
<%= link_to 'Back', publication:belonngs_tos_path %>
