<%= form_for(text_style) do |f| %>
  <% if text_style.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(text_style.errors.count, "error") %> prohibited this text_style from being saved:</h2>

      <ul>
      <% text_style.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label '단락 스타일: ', class: "col-3" %>
    <div class="col-9">
      <%= f.text_field :korean_name, class: "form-control form-control-sm" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label '단락 스타일 영문명: ', class: "col-3" %>
    <div class="col-9">
      <%= f.text_field :english, class: "form-control form-control-sm" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label '서체 이름: ', class: "col-3" %>
    <div class="col-9">
      <%= f.text_field :font_family, class: "form-control form-control-sm" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label '서체 포스트스크립 이름: ', class: "col-3" %>
    <div class="col-9">
      <%= f.text_field :font, class: "form-control form-control-sm" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label '서체 크기: ', class: "col-3" %>
    <div class="col-9">
      <%= f.text_field :font_size, class: "form-control form-control-sm" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label '컬러', class: "col-3" %>
    <div class="col-9">
      <%= f.text_field :text_color, class: "form-control form-control-sm" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label '정렬: ', class: "col-3" %>
    <div class="col-9">
      <%= f.text_field :alignment, class: "form-control form-control-sm" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label '자간: ', class: "col-3" %>
    <div class="col-9">
      <%= f.text_field :tracking, class: "form-control form-control-sm" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label '어간: ', class: "col-3" %>
    <div class="col-9">
      <%= f.text_field :space_width, class: "form-control form-control-sm" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label '장평: ', class: "col-3" %>
    <div class="col-9">
      <%= f.text_field :scale, class: "form-control form-control-sm" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label '행간: ', class: "col-3" %>
    <div class="col-9">
      <%= f.text_field :text_line_spacing, class: "form-control form-control-sm" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label '글위 행간: ', class: "col-3" %>
    <div class="col-9">
      <%= f.number_field :space_before_in_lines, class: "form-control form-control-sm" %>
    </div>
  </div>


  <div class="form-group row">
    <%= f.label '글이래 행간: ', class: "col-3" %>
    <div class="col-9">
      <%= f.number_field :space_after_in_lines, class: "form-control form-control-sm" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label '글높이 행간: ', class: "col-3" %>
    <div class="col-9">
      <%= f.number_field :text_height_in_lines, class: "form-control form-control-sm" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label '박스 디자인: ', class: "col-3" %>
    <div class="col-9">
      <%= f.text_area :box_attributes, cols: "100", rows: "3", font_size: "16px", class: "form-control form-control-sm" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label '유동적 단락 스타일: ', class: "col-3" %>
    <div class="col-9">
      <%= f.text_area :graphic_attributes, cols: "100", rows: "3", font_size: "16px", class: "form-control form-control-sm" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label '입력시 단락표시 방법: ', class: "col-3" %>
    <div class="col-9">
      <%= f.text_field :markup, class: "form-control form-control-sm" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit "저장", class: "btn btn-success btn-sm" %>
  </div>
<% end %>
