<div class="container" style="margin-bottom: 5rem;">
  <div class="row">
    <div class="col-md-4">
        <% unless @ad_box.ad_image.nil? %>
          <div class="border shadow">
            <%= raw @ad_box.page.to_svg_with_jpg %>
          </div>
        <% end %>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-4">
      <h3 class="text-center">광고정보</h3>
      <%= render 'form', ad_box: @ad_box %>
    </div>
  </div>
</div>
<!-- 편집화면 하단에 자주쓰는 이전, 저장, 다운 버튼을 항상 보이게 설정 -->
<nav class="navbar navbar-dark bg-dark fixed-bottom">
  <div class="btn-group" role="group" aria-label="기능">
    <%= link_to "교정 전송", send_proof_reading_pdf_page_path(@ad_box.page), method: :get, data: { confirm: '정말 보내시겠습니까?'}, class: "btn btn-light btn-sm" %>
    <%= link_to "인쇄 전송", send_pdf_to_printer_page_path(@ad_box.page), method: :get, data: { confirm: '정말 보내시겠습니까?'}, class: "btn btn-light btn-sm" %>
    <%= link_to "페이지 PDF", download_pdf_page_path(@ad_box.page), method: :get, class: "btn btn-light btn-sm" %>
    <%= link_to "기사 PDF", download_pdf_working_article_path(@ad_box), method: :get, class: "btn btn-light btn-sm" %>
  </div>
</nav>