<div class="view" align="center">
<h3>신규 페이지 템플렛</h3>

<%= form_for(@section) do |f| %>
  <% if @section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
      <% @section.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <!-- <div class="field">
    <%= f.label '프로필' %>
    <%= f.text_field :profile %>
  </div> -->

  <div class="field">
    <%= f.label '단' %>
    <%= f.number_field :column %>
  </div>

  <div class="field">
    <%= f.label '열' %>
    <%= f.number_field :row %>
  </div>

  <!-- <div class="field">
    <%= f.label '광고종류' %>
    <%= f.text_field :ad_type %>
  </div> -->

  <!-- <div class="field">
    <%= f.label '1면' %>
    <%= f.check_box :is_front_page %>
  </div> -->

  <!-- <div class="field">
    <%= f.label '기사수' %>
    <%= f.number_field :story_count %>
  </div> -->

  <div class="field">
    <%= f.label '면번호' %>
    <%= f.number_field :page_number %>
  </div>

  <div class="field">
    <%= f.label '팀이름' %>
    <%= f.text_field :section_name %>
  </div>

  <!-- div class="field">
    <%= f.label '컬러면' %>
    <%= f.check_box :color_page %>
  </div -->

  <div class="field">
    <%= f.label '위치정보' %> [ x, y, 단, 열 ]<br> 
    <%= f.text_area :layout, cols: "40", rows: "10", font_size: "24px"%>
  </div>


  </div>

  <!-- 편집화면 하단에 자주쓰는 이전, 저장, 다운 버튼을 항상 보이게 설정 -->
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="btn-group" role="group" aria-label="기능">
      <%= link_to "이전으로", sections_path, method: :get, class: "btn btn-default btn-sm" %>
      <%= f.button "저장", class: "btn btn-primary btn-sm" %>
      </button>
    </div>
  </nav>


<% end %>
