<%= simple_form_for(@heading_bg_image) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-inputs">
    <%= f.input :paper_size, as: :select, collection: %W[대판 베르리너 타블로이드] %>  
  </div>

  <div class="form-inputs">
    <%= f.input :heading_bg_image %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
