
<div align='center'>
<h4>신문사별 면머리</h4>

<table>
  <thead>
    <tr>
      <th>이미지</th>
      <th>신문사명</th>
      <th>판형</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @heading_bg_images.each do |heading_bg_image| %>
      <tr>
        <td><%= image_tag(heading_bg_image.heading_bg_image.url) %></td>
        <td><%= heading_bg_image.name %></td>
        <td><%= heading_bg_image.paper_size %></td>
        <td><%#= link_to '보기', heading_bg_image, class: "btn btn-success" %></td>
        <td><%= link_to '적용', set_to_current_publication_heading_bg_image_path(heading_bg_image), method: :get, data: { confirm: "#{heading_bg_image.name} 면머리 적용하시겠습니까?" }, class: "btn btn-success" %></td>
        <td><%= link_to '편집', edit_heading_bg_image_path(heading_bg_image), class: "btn btn-warning" %></td>
        <td><%= link_to '삭제', heading_bg_image, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '신규 면머리', new_heading_bg_image_path, class: "btn btn-primary" %>
</div>
