<div class="w-100 p-3">
  <div class="row" style="width: 100%;">
    <div class="col-md-2 mr-3">
      <div class="border shadow">
        <div style="width: 100%;">
          <%= raw @page.to_svg_with_jpg %>
        </div>
      </div>
      <%= render 'change_page_info', page: @page %>

    </div>

    <div class="col-md-9">
      <div class="row">
        <% @page.other_page_layout_choices.each do |page_layout| %>
          <div class="card text-white bg-info mb-3 p-1" style="width: 10rem;">
            <% if @page.template_id == page_layout.id %>
              <%= raw  page_layout.to_svg%>
              <p class="btn btn-info text-center rounded-0 mb-0">사용중<%= "(#{page_layout.pillar_profile})#{page_layout.id}" %></p>
            <% else %>
              <%= raw  page_layout.to_svg%>
              <%= link_to "변경(#{page_layout.pillar_profile})#{page_layout.id}", change_page_layout_page_path(@page, new_choice: page_layout), method: :patch, class: "btn btn-danger text-center rounded-0" %>
            <% end %>
          </div>
        <% end %>
      </div>      
      <div class="container-fluid" style="margin-bottom: 5rem;">
        <div class="row justify-content-left">
            <% @page.library_pages_jpg_url.each_with_index do |archived_page_image, i| %>
            <div class="col-xs-6 col-md-3">
              <div class="card mb-2 shadow">
                <%= image_tag archived_page_image, style: "width: 100%;", class: "border border-secondary"%>
                <%= link_to "저장 페이지 적용:(#{i + 1})", load_page_library_page_path(@page, new_choice: i + 1), method: :patch, class: "btn btn-sm btn-warning text-center rounded-0" %>
                <%= link_to "저장 페이지 삭제", remove_page_library_page_path(@page, remove_order: i + 1), class: "btn btn-sm btn-danger text-center rounded-0" %>
                <!-- %= raw page.to_svg_with_jpg % -->
              </div>
            </div>
            <!-- true -->
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

