

<div align="center">
<!-- p id="notice"><%= notice %></p-->

<h3>필라</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Grid X</th>
      <th>Grid y</th>
      <th>Couumn</th>
      <th>Row</th>
      <th>Box Coumn</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pillars.each do |pillar| %>
      <tr>
        <td><%= pillar.id %></td>
        <td><%= pillar.grid_x %></td>
        <td><%= pillar.grid_y %></td>
        <td><%= pillar.column %></td>
        <td><%= pillar.row %></td>
        <td><%= pillar.box_count %></td>
        <td><%= link_to 'Show', pillar %></td>
        <td><%= link_to 'Edit', edit_pillar_path(pillar) %></td>
        <td><%= link_to 'Destroy', pillar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= button_to '신규 추가', new_pillar_path, method: :get, class: "btn btn-sm btn-success" %>

</div>

<br>