<p id="notice"><%= notice %></p>

<p>
  <strong>Grid x:</strong>
  <%= @pillar.grid_x %>
</p>

<p>
  <strong>Grid y:</strong>
  <%= @pillar.grid_y %>
</p>

<p>
  <strong>Column:</strong>
  <%= @pillar.column %>
</p>

<p>
  <strong>Row:</strong>
  <%= @pillar.row %>
</p>

<p>
  <strong>Order:</strong>
  <%= @pillar.order %>
</p>

<p>
  <strong>Box count:</strong>
  <%= @pillar.box_count %>
</p>

<p>
  <strong>Layout with pillar path:</strong>
  <%= @pillar.layout_with_pillar_path %>
</p>

<p>
  <strong>Layout:</strong>
  <%= @pillar.layout %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @pillar.profile %>
</p>

<p>
  <strong>Finger print:</strong>
  <%= @pillar.finger_print %>
</p>

<p>
  <strong>Region:</strong>
  <%= @pillar.region %>
</p>

<p>
  <strong>Region type:</strong>
  <%= @pillar.region_type %>
</p>

<%= link_to 'Edit', edit_pillar_path(@pillar) %> |
<%= link_to 'Back', pillars_path %>
