<% if @working_article.article_info && @working_article.article_info[:overflow_text] && @working_article.article_info[:overflow_text] !=""%>
<div align="center" ><p>본문 글자수:<%= @working_article.character_count %> | 박스 추가 행: <%= @working_article.extended_line_count %> | 발문 추가: <%= @working_article.quote_box_size %> | 넘친줄 수: <%=  @working_article.article_info[:overflow_line_count] %></p></div>
<div align="center" style="color:red;"><%=  @working_article.article_info[:overflow_text].html_safe%></div>
<% elsif @working_article.article_info && @working_article.article_info[:empty_lines] %>
<p align="center" >본문 글자수:<%= @working_article.character_count %> | 박스 추가 행: <%= @working_article.extended_line_count %>  | 발문 추가: <%= @working_article.quote_box_size %> | 빈줄 수: <%= @working_article.article_info[:empty_lines] %></p>
<% else %>
<p align="center" >본문 글자수:<%= @working_article.character_count %> | 박스 추가 행: <%= @working_article.extended_line_count %> | 발문 추가: <%= @working_article.quote_box_size %> </p>
<% end %>
<a href='/working_articles/<%= @working_article.id %>'><img src="<%= @working_article.jpg_image_path %>"></img></a>
<% if @working_article.article_info && @working_article.article_info[:overflow_text] && @working_article.article_info[:overflow_text] !=""%>
<div align="center" ><p>본문 글자수:<%= @working_article.character_count %> | 박스 추가 행: <%= @working_article.extended_line_count %> | 발문 추가: <%= @working_article.quote_box_size %> | 넘친줄 수: <%=  @working_article.article_info[:overflow_line_count] %></p></div>
<div align="center" style="color:red;"><%=  @working_article.article_info[:overflow_text].html_safe%></div>
<% elsif @working_article.article_info && @working_article.article_info[:empty_lines] %>
<p align="center" >본문 글자수:<%= @working_article.character_count %> | 박스 추가 행: <%= @working_article.extended_line_count %>  | 발문 추가: <%= @working_article.quote_box_size %> | 빈줄 수: <%= @working_article.article_info[:empty_lines] %></p>
<% else %>
<p align="center" >본문 글자수:<%= @working_article.character_count %> | 박스 추가 행: <%= @working_article.extended_line_count %> | 발문 추가: <%= @working_article.quote_box_size %> </p>
<% end %>
