<%= form_for(article, remote: true) do |f| %>
<% if article.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(article.errors.count, "error") %>
      prohibited this article from being saved:</h2>

    <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="view">
  <div class="col-sm-6">
    <div class="col-md-11">
    <div class="form-group">
    <%= f.button "저장", class: "btn btn-primary btn-sm", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> 처리중..."} %>
    </div>
  
      <div class="form-group">
        <%= f.label :기사종류 %>
        <%= f.select :kind, ['기사', '사진', '기고', '금요기고','박스기고', '부고-인사', '특집', '책소개'], {}, {onChange: 'this.form.submit();'} %>
      </div>
      <div class="form-group">
        <%= f.label :문패 %>
        <!-- <%= f.text_field :title, class: 'form-control' %> -->
        <%= f.text_field :subject_head, size: 34 %>
      </div>

      <div class="form-group-body">
        <%= f.label :본문 %>
        <%= f.text_area :body, col: "40", rows: "20", class: 'form-control shinmoon', autocomplete: 'off' %>
      </div>

  </div>
  </div>
  <div class="col-xs-6 col-sm-6">
  <%= render 'show_preview', article: @working_article %>
  </div>      
</div>

</nav>
<% end %>
