<%= form_for(article, remote: true) do |f| %>
<% if article.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(article.errors.count, "error") %>
      prohibited this article from being saved:</h2>

    <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.button "저장", class: "btn btn-primary btn-sm", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> 처리중..."} %>
    </div>

    <div class="form-group">
      <%= f.label :기사종류 %>
      <%= f.select :kind, ['기사', '사진', '기고', '사설', '금요기고'], {}, {onChange: 'this.form.submit();'}%>
    </div>

    <div class="form-group">
      <%= f.label "문패" %>
      <%= f.text_field :subject_head, class: "form-control form-control-sm", autocomplete: 'off' %>
    </div>

    <div class="form-group">
      <%= f.label :제목 %>
      <!-- <%= f.text_field :title, class: 'form-control' %> -->
      <%= f.text_field :title, size: 34, class: "form-control title", autocomplete: 'off' %>
    </div>

    <div class="form-group">
      <%= f.label '글쓴이'%>
      <%= f.text_field :reporter, size: 20, class: "form-control form-control-sm", autocomplete: 'off' %>
    </div>

    <div class="form-grouo">
      <%= f.label "글쓴이 사진위치" %>
      <%= f.select :profile_image_position, ['상단 왼쪽', '하단 오른쪽'], {} %>
    </div>

    <% if article.show_quote_box?%>
        <div class="form-group">
          <%= f.label :발문 %>
          <div class="field">
            <%= f.label :위치 %><%= f.select :quote_position, [1,2,3,4,5,6,7,8,9], style: "width:40px", class: 'form-control' %>
            <%= f.label :가로시작_단 %><%= f.text_field :quote_x_grid, value: article.quote_x_grid, style: "width:35px"%>
            <%= f.label :너비_단 %><%= f.select :quote_box_column, [1, 2, 3], style: "width:35px", class: 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :상하여백 %><%= f.select :quote_v_extra_space, [1, 2], style: "width:40px", class: 'form-control' %>
            <%= f.label :정렬 %><%= f.select :quote_alignment, ['좌측', '중간','우측'], style: "width:35px", class: 'form-control' %>
            <%= f.label :테두리 %><%= f.select :quote_line_type, ['상하', '테두리', '없음'] %>
          </div>
          <%= f.text_area :quote, rows: "3", class: 'form-control' %>
        </div>
      <% end %>

    <div class="form-group">
      <%= f.text_field :image, type: "hidden" %>
    </div>

    <div class="form-group">
      <%= f.text_field :has_profile_image, type: "hidden" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group-body">
      <%= f.label :본문 %>
      <%= f.text_area :body, col: "40", rows: "18", class: 'form-control shinmoon', autocomplete: 'off' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.button "저장", class: "btn btn-primary btn-sm", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> 처리중..."} %>
  </div>
</div>

</nav>
<% end %>
