<!-- 사진 탭 -->
<div class="row justify-content-md-center">
  <div class="col-md-3">
    <div class="card mb-1">
      <%= render "working_articles/svg_with_jpg_with_working_article_preview" %>
    </div>
    <p class="text-center">
      <% if @working_article.page.color_page %>
        <%= link_to "#{@working_article.page.page_number}면", page_path(@working_article.page), class: "btn btn-danger btn-sm" %>
      <% else %>
        <%= link_to "#{@working_article.page.page_number}면", page_path(@working_article.page), class: "btn btn-light btn-sm border" %>
      <% end %>
    </p>
  </div>
  <div class="col-md-4">
    <div class="card mb-3">
      <h5 class="card-header">
        사진 편집
      </h5>
      <div class="card-body">
        <% @working_article.images.sort_by{|x| x.id}.each do |image| %>
          <%= render 'images/form', image: image %>
        <% end %>
      </div>
    </div>
    <div class="card">
      <h5 class="card-header">
        새로운 사진 추가
      </h5>
      <div class="card-body">
        <% if @working_article.images.length < 3 %>
          <%= form_with( model: @working_article, :html => { :multipart => true }, :url=>{action: 'upload_images'}) do |f| %>
            <%= f.fields_for :images, Image.new do |p| %>
              <div class="custom-file">
                <%= f.file_field :storage_image, class: "custom-file-input", id: "customFile" %>
                <%= f.label :storage_image, class: "custom-file-label", for: "customFile", data: {browse: "첨부파일"} %>
              </div>
              <div class="form-group mt-1">
                <%= f.button "저장", issue: @working_article.issue, class: "btn btn-sm btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> 처리중..."} %>
              </div>
            <% end %>
          <% end %>
          <% link_to "이미지 추가", add_image_article_path(@working_article), method: :get, class: "btn btn-sm btn-danger" %>
          <% link_to "저자 이미지 추가", add_personal_image_article_path(@working_article), method: :get, class: "btn btn-sm btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <% if @reporter_images.length > 0 %>
      <%= render 'reporter_image', reporter_images: @reporter_images %>
    <% end %>
  </div>
</div>
<%= javascript_pack_tag "bs_custom_file_input.js" %>