<!-- 그룹이미지 탭 -->
<div class="row" style="width: 100%;">
  <div class="col-md-3">
    <div class="card mb-1">
      <%= render "working_articles/svg_with_jpg_with_working_article_preview" %>
    </div>
    <p class="text-center">
      <% if @working_article.page.color_page %>
        <%= link_to "#{@working_article.page.page_number}면", page_path(@working_article.page), class: "btn btn-danger btn-sm" %>
      <% else %>
        <%= link_to "#{@working_article.page.page_number}면", page_path(@working_article.page), class: "btn btn-light btn-sm border" %>
      <% end %>
    </p>
  </div>
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-header text-white bg-secondary text-center font-weight-bold">
        그룹 이미지
      </div>

      <div class="card-body">
        <% if @group_image %>
          <%= render 'group_images/form', group_image: @group_image, working_article: @working_article %>
        <% else %>
          <%= render 'group_images/new', working_article: @working_article %>
        <% end %>
      </div>
    </div>
    <%= image_tag @group_image.pdf_url if @group_image && @group_image.ready?%>

  </div>
  <div class="col-md-5">
    <% if @group_image %>
      <% @group_image.member_images.sort_by{|m| m.order}.each do |member_image| %>
        <div class="card mb-3">
          <div class="card-header text-white bg-secondary text-center font-weight-bold">
            멤버 이미지
          </div>
          <div class="card-body">
          <%= form_with model: member_image do |f| %>
            <% if member_image.errors.any? %>
              <div id="error_explanation">
                <h2>
                  <%= pluralize(member_image.errors.count, "error") %> prohibited this member_image from
                  being saved:
                </h2>
                <ul>
                  <% member_image.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
              <%= image_tag member_image.member_storage_image, :width => "100%", :height => "200px", style: "object-fit: contain; height: 15em !important;", id: "preview" %>

              <div class="form-group mt-1">
                <%= f.text_area :caption, label: "사진설명:", placeholder: "설명을 입력해주세요", class: "form-control form-control-sm" %>
              </div>
 
              <div class="form-group mt-1">
                <%= f.number_field :order, label: "사진순서:", placeholder: "사진순서를 숫자로 입력해주세요", class: "form-control form-control-sm" %>
              </div>
            <div class="form-group mt-3">
              <%= f.submit "저장", class: "btn btn-info btn-sm" %>
            </div>
          <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
