<!-- 그래픽 탭 -->
<div class="row justify-content-md-center">
  <div class="col-md-3">
    <div class="card mb-1">
      <%= render "working_articles/svg_with_jpg_with_working_article_preview" %>
    </div>
    <p class="text-center">
      <% if @working_article.page.color_page %>
        <%= link_to "#{@working_article.page.page_number}면", page_path(@working_article.page), class: "btn btn-danger btn-sm" %>
      <% else %>
        <%= link_to "#{@working_article.page.page_number}면", page_path(@working_article.page), class: "btn btn-light btn-sm border" %>
      <% end %>
    </p>
  </div>
  <div class="col-md-4">
    <% @working_article.graphics.sort_by{|x| x.order}.each do |graphic| %>
      <div class="content-box">
        <%= render 'graphics/form', graphic: graphic %>
      </div>
    <% end %>
    <div class="card">
      <h6 class="card-header bg-transparent pt-2 pb-2">
        그래픽 추가
      </h6>
      <div class="card-body">
        <% if  @working_article.graphics.length <= 2 %>
          <%= form_with( model: @working_article, :html => { :multipart => true }, :url=>{action: 'upload_graphics'}) do |f| %>
            <%= f.fields_for :images, Image.new do |p| %>
              <div class="custom-file custom-file-sm">
                <%= f.file_field :storage_graphic, class: "custom-file-input", id: "customFile" %>
                <%= f.label :storage_graphic, "선택한 파일 없음", class: "custom-file-label", for: "customFile", data: { browse: "첨부파일" } %>
              </div>
              <div class="form-group mt-1">
                <%= f.button "저장", issue: @working_article.issue, class: "btn btn-sm btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> 처리중..."} %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <% if @reporter_graphics.length > 0 %>
      <%= render 'reporter_graphic', reporter_graphics: @reporter_graphics %>
    <% end %>
  </div>
</div>