<div class="mb-2">
  <% if @working_article.annotations.length > 0 %>
    <%= link_to '새교열 시작', new_annotation_working_article_url(@working_article), class: "btn btn-success btn-lg" %>
    <%= link_to add_comment_annotation_url(@working_article.annotations.last), class: "btn btn-warning btn-lg" do %>
      <i class="fas fa-clipboard"></i> 주석
    <% end %>
    <%= link_to add_circle_annotation_url(@working_article.annotations.last), class: "btn btn-warning btn-lg" do %>
      <i class="fas fa-circle"></i> 원형
    <% end %>
    <%= link_to add_comment_annotation_url(@working_article.annotations.last), class: "btn btn-warning btn-lg" do %>
      <i class="fas fa-eraser"></i> 삭제
    <% end %>
    <%= link_to add_check_annotation_url(@working_article.annotations.last), class: "btn btn-warning btn-lg" do %>
      <i class="fas fa-check"></i> 띄어쓰기
    <% end %>
    <%= link_to add_underline_annotation_url(@working_article.annotations.last), class: "btn btn-warning btn-lg" do %>
      <i class="fas fa-underline"></i> 밑줄
    <% end %>
    <%= link_to add_remove_marker_annotation_url(@working_article.annotations.last), class: "btn btn-warning btn-lg" do %>
      <i class="fas fa-remove-format"></i> 빼기
    <% end %>
  <% else %>
    <%= link_to '새교열 시작', new_annotation_working_article_url(@working_article), class: "btn btn-success btn-lg" %>
  <% end %>
</div>
<% @working_article.annotations.reverse.each do |annotation| %>
  <div data-controller='draggable' data-draggable-current-user-id='<%= current_user.id %>'>
    <%= raw annotation.to_svg %>
  </div>
<% end %>
<!-- commentModal -->
<% @working_article.annotations.each do |annotation| %>
  <% annotation.annotation_comments.each do |annotation_comment| %>
    <div class="modal fade" id="comment<%= annotation_comment.id %>Modal" tabindex="-1" aria-labelledby="comment<%= annotation_comment.id %>ModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">주석 - #<%= annotation_comment.id %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <% if annotation_comment.user_id == current_user.id %>
            <%= form_with(model: annotation_comment) do |f| %>
              <div class="modal-body">
                  <%= f.text_area :comment, class: "form-control" %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                <%= f.submit '저장', class: "btn btn-primary" %>
                <%= link_to '삭제', annotation_comment_path(annotation_comment), method: :delete, class: 'btn btn-danger' %>
              </div>
            <% end %>
          <% else %>
            <div class="modal-body">
              <%= annotation_comment.comment %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
