<!-- 그룹이미지 탭 -->
<div class="row" style="width: 100%;">
  <div class="col-md-3">
    <div class="card mb-1">
      <div class="border text-center" style="margin: 5px;">
        <%= raw @working_article.page.to_svg_with_jpg %>
      </div>
    </div>
    <p class="text-center">
      <% if @working_article.page.color_page %>
        <%= link_to "#{@working_article.page.page_number}면", page_path(@working_article.page), class: "btn btn-danger btn-sm" %>
      <% else %>
        <%= link_to "#{@working_article.page.page_number}면", page_path(@working_article.page), class: "btn btn-light btn-sm border" %>
      <% end %>
    </p>
  </div>
  <div class="col-md-4">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">순서</th>
          <th scope="col">제목</th>
          <th scope="col">설명</th>
          <th scope="col">액션</th>
        </tr>
      </thead>
      <tbody>
        <% @working_article.member_images.order(:order).each do |member_image| %>
          <tr>
            <th scope="row"><%= member_image.order %></th>
            <td><%= member_image.title %></td>
            <td><%= member_image.caption %></td>
            <!-- 버튼 트리거 모달 시작 -->
            <td>
              <%= button_tag "상세보기", type: "button", class: "btn btn-sm btn-primary", data: { toggle: "modal", target: "##{member_image.modal_title}" } %>
              <%= link_to '편집', edit_member_image_path(member_image), class: "btn btn-sm btn-warning" %>
              <%= link_to '삭제', member_image_path(member_image), method: :delete, class: "btn btn-sm btn-danger" %>
            </td>
            <!-- 버튼 트리거 모달 끝 -->
            <!-- 모달 시작 -->
            <div class="modal fade" id="<%= member_image.modal_title %>" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="<%= member_image.modal_title %>Label" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="<%= member_image.modal_title %>Label">상세정보 #<%= member_image.order %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= image_tag member_image.member_img.url, width: "100%;" %>
                    <h5 class="mt-2"><%= member_image.title %></h5>
                    <p><%= member_image.caption %></p>
                    <p class="card-text mt-0"><small class="text-muted"><%= member_image.source %></small></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- 모달 끝 -->
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="card mb-3">
      <div class="card-header text-white bg-dark text-center font-weight-bold">
      New 멤버 이미지 추가
      </div>
      <div class="card-body">
        <%= render 'member_images/form', member_image: @member_image, working_article: @working_article %>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card-group">
      <% @working_article.member_images.each do |member_image| %>
      <div class="card <%= "order-#{member_image.order}" %> rounded-0">
      <% if member_image.member_img.url %>
        <%= image_tag member_image.member_img.url, class: "card-img-top rounded-0", alt: "#{member_image.title} 사진입니다." %>
      <% end %>
        <div class="card-body p-2 border-top">
          <h6 class="card-title mt-0 mb-2"><%= member_image.title %></h6>
          <p class="card-text mb-1"><%= member_image.caption %></p>
          <p class="card-text mt-0"><small class="text-muted"><%= member_image.source %></small></p>
        </div>
      </div>
      <% end %>
    </div>
    <hr>
  </div>
</div>
