<div align="center">
<!-- p id="notice"><%= notice %></p-->

<h3>기사 검색</h3>
<%= search_form_for @q do |f| %>
  <%= f.label '제목에 포함된 글자로' %>
  <%= f.search_field :title_cont %>
  <%= f.label '본문에 포함된 글자로' %>
  <%= f.search_field :body_cont %>
  <%= f.submit "검색", class: "btn btn-sm btn-normal"%>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>날짜</th>
      <th>페이지</th>
      <th>기사번호</th>
      <th>제목</th>
      <th>기자</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @working_articles.each do |working_article| %>
      <tr>
        <td style="text-align:center;"><%= working_article.page.date %></td>
        <td style="text-align:center;"><%= working_article.page.page_number %></td>
        <td style="text-align:center;"><%= working_article.order %></td>
        <td style="text-align:center;"><%= working_article.title %></td>
        <td style="text-align:center;"><%= working_article.reporter %></td>
        
        <td><%= button_to '페이지 보기', page_path(working_article.page), method: :get, class: "btn btn-sm btn-success"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
