<div class="container-fluid">
  <nav class="mt-0">
    <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><span><%= icon('fas', 'newspaper') %> <%= @working_article.page.section_name %></span></a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><span><%= icon('fas', 'window-restore') %></span> <%= @working_article.page.section_name %> 기사배정</a>
      <a class="nav-item nav-link" id="nav-preview-tab" data-toggle="tab" href="#nav-preview" role="tab" aria-controls="nav-preview" aria-selected="false"><span><%= icon('fas', 'eye') %></span> <%= @working_article.page.page_number %>면 미리보기</a>
      <a class="nav-item nav-link" id="nav-story-batch-tab" data-toggle="tab" href="#nav-story-batch" role="tab" aria-controls="nav-story-batch" aria-selected="false"><span><%= icon('fas', 'window-restore') %></span> <%= @working_article.pillar_order %>번 기사배정</a>
      <a class="nav-item nav-link" id="nav-story-edit-tab" data-toggle="tab" href="#nav-story-edit" role="tab" aria-controls="nav-story-edit" aria-selected="false"><span><%= icon('fas', 'edit') %></span> <%= @working_article.pillar_order %> 기사편집</a>
      <a class="nav-item nav-link" id="nav-story-picture-tab" data-toggle="tab" href="#nav-story-picture" role="tab" aria-controls="nav-story-picture" aria-selected="false"><span><%= icon('fas', 'image') %></span> 사진</a>
      <a class="nav-item nav-link" id="nav-story-graphic-tab" data-toggle="tab" href="#nav-story-graphic" role="tab" aria-controls="nav-story-graphic" aria-selected="false"><span><%= icon('fas', 'chart-area') %></span> 그래픽</a>
      <a class="nav-item nav-link" id="nav-story-group-image-tab" data-toggle="tab" href="#nav-story-group-image" role="tab" aria-controls="nav-story-group-image" aria-selected="false"><span><%= icon('fas', 'object-group') %></span> 그룹 이미지</a>
    </div>
  </nav>
  <div class="tab-content p-4" id="nav-tabContent">
    <!-- 모든 "카테고리"면 -->
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="row">
        <% @pages.each do |page| %>
          <div class="col-md-3">
            <div class="card rounded-0">
              <div class="border text-center m-1">
                <%= raw page.to_svg_with_jpg %>
              </div>
              <div class="card-body text-center pt-1 pb-1">
                <% if page.color_page %>
                  <%= link_to "#{page.page_number}면", page_path(page), class: "btn btn-danger btn-sm" %>
                <% else %>
                  <%= link_to "#{page.page_number}면", page_path(page), class: "btn btn-light btn-sm border" %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <!-- n면 기사배정 -->
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      n면 기사배정
    </div>
    <!-- 미리보기 -->
    <div class="tab-pane fade" id="nav-preview" role="tabpanel" aria-labelledby="nav-preview-tab">
      <div class="card border-secondary rounded-0 shadow" style="width: 100%;">
        <div class="text-center border">
          <%= raw @working_article.page.to_svg_with_jpg %>
        </div>
      </div>
    </div>
    <!-- n번 기사배정 -->
    <div class="tab-pane fade" id="nav-story-batch" role="tabpanel" aria-labelledby="nav-story-batch-tab">
      1번 기사배정 내용
    </div>
    <!-- n번 기사편집 -->
    <div class="tab-pane fade" id="nav-story-edit" role="tabpanel" aria-labelledby="nav-story-edit-tab">
      <div class="row">
        <div class="col-md-3">
          <div class="card mb-1">
            <div class="border text-center" style="margin: 5px;">
              <%= raw @working_article.page.to_svg_with_jpg %>
            </div>
          </div>
          <p class="text-center">
            <% if @working_article.page.color_page %>
              <%= link_to "#{@working_article.page.page_number}면", page_path(@working_article.page), class: "btn btn-danger btn-sm" %>
            <% else %>
              <%= link_to "#{@working_article.page.page_number}면", page_path(@working_article.page), class: "btn btn-light btn-sm border" %>
            <% end %>
          </p>
        </div>
        <div class="col-md-4">
          <div class="card">
            <h5 class="card-header">
              기사 편집: 추가 행수(<%= @working_article.extended_line_count %>)
            </h5>
            <div class="card-body">
              <% if @working_article.kind == '사설' || @working_article.kind == 'editorial' %>
                <%= render 'editorial', article:@working_article, page_number:@working_article.page_number%>
              <% elsif @working_article.kind == '기고' || @working_article.kind == 'opinion' %>
                <%= render 'opinion', article: @working_article %>
              <% else %>
                <%= render 'form', article: @working_article %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <%= render 'show_preview', article: @working_article %>
        </div>
      </div>
    </div>
    <!-- 사진 -->
    <div class="tab-pane fade" id="nav-story-picture" role="tabpanel" aria-labelledby="nav-story-picture-tab">
      사진 내용
    </div>
    <!-- 그래픽 -->
    <div class="tab-pane fade" id="nav-story-graphic" role="tabpanel" aria-labelledby="nav-story-graphic-tab">
      그래픽 내용
    </div>
    <!-- 그룹 이미지 -->
    <div class="tab-pane fade" id="nav-story-group-image" role="tabpanel" aria-labelledby="nav-story-group-image-tab">
      그룹 이미지 내용
    </div>
  </div>
</div>
