<div class="container-fluid" data-controller="select-story">
  <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="section-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="section" aria-selected="true"><span><%= icon('fas', 'newspaper') %> <%= @working_article.page.section_name %></span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="preview-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="preview" aria-selected="false"><span><%= icon('fas', 'eye') %></span> <%= @working_article.page.page_number %>면 미리보기</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="article-batch-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="article-batch" aria-selected="false"><span><%= icon('fas', 'window-restore') %></span> <%= @working_article.page.section_name %> 기사배정</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="story-batch-tab" data-toggle="tab" href="#tab4" role="tab" aria-controls="story-batch" aria-selected="false"><span><%= icon('fas', 'window-restore') %></span> <%= @working_article.pillar_order %>번 기사배정</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="story-edit-tab" data-toggle="tab" href="#tab5" role="tab" aria-controls="story-edit" aria-selected="false"><span><%= icon('fas', 'edit') %></span> <%= @working_article.pillar_order %> 기사편집</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="story-picture-tab" data-toggle="tab" href="#tab6" role="tab" aria-controls="story-picture" aria-selected="false"><span><%= icon('fas', 'image') %></span> 사진</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="story-graphic-tab" data-toggle="tab" href="#tab7" role="tab" aria-controls="story-graphic" aria-selected="false"><span><%= icon('fas', 'chart-area') %></span> 그래픽</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="story-group-image-tab" data-toggle="tab" href="#tab8" role="tab" aria-controls="story-group-image" aria-selected="false"><span><%= icon('fas', 'object-group') %></span> 그룹 이미지</a>
    </li>
  </ul>
  <div class="tab-content p-4 mb-5" id="myTabContent">
    <!-- 모든 "카테고리"면 -->
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="section-tab">
      <%= render 'working_articles/tab1' %>
    </div>
    <!-- 미리보기 -->
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="preview-tab">
      <%= render 'working_articles/tab2' %>
    </div>
    <!-- n면 기사배정 -->
    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="article-batch-tab">
      <%= render 'working_articles/tab3' %>
    </div>
    <!-- n_n번 기사배정 -->
    <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="story-batch-tab">
      <%= render 'working_articles/tab4' %>
    </div>
    <!-- n번 기사편집 -->
    <div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="story-edit-tab">
      <%= render 'working_articles/tab5' %>
    </div>
    <!-- 사진 -->
    <div class="tab-pane fade" id="tab6" role="tabpanel" aria-labelledby="story-picture-tab">
      <%= render 'working_articles/tab6' %>
    </div>
    <!-- 그래픽 -->
    <div class="tab-pane fade" id="tab7" role="tabpanel" aria-labelledby="story-graphic-tab">
      <%= render 'working_articles/tab7' %>
    </div>
    <!-- 그룹 이미지 -->
    <div class="tab-pane fade" id="tab8" role="tabpanel" aria-labelledby="story-group-image-tab">
      <%= render 'working_articles/tab8' %>
    </div>
  </div>
</div>
<nav class="navbar navbar-light bg-light fixed-bottom">
  <div class="btn-group" role="group" aria-label="기능">
    <%= link_to "교정 전송", send_proof_reading_pdf_page_path(@working_article.page), method: :get, data: { confirm: '정말 보내시겠습니까?'}, class: "btn btn-secondary btn-sm" %>
    <%= link_to "인쇄 전송", send_pdf_to_printer_page_path(@working_article.page), method: :get, data: { confirm: '정말 보내시겠습니까?'}, class: "btn btn-secondary btn-sm" %>
    <%= link_to "페이지 PDF", download_pdf_page_path(@working_article.page), method: :get, class: "btn btn-secondary btn-sm" %>
    <%= link_to "기사 PDF", download_pdf_working_article_path(@working_article), method: :get, class: "btn btn-secondary btn-sm" %>
  </div>
</nav>
