
<div align="center">
<!-- p id="notice"><%= notice %></p-->

<h3>페이지 레이아웃</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>그림</th>
      <th>광고종류</th>
      <th>페이지</th>
      <th>컬럼수</th>
      <th>레이아웃</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @page_layouts.each do |page_layout| %>
      <tr>
        <td><%= raw page_layout.to_svg %></td>
        <td><%= page_layout.ad_type %></td>
        <td><%= page_layout.page_type %></td>
        <td><%= page_layout.column %></td>
        <td><%= page_layout.layout %></td>
        <td><%= link_to 'Show', page_layout %></td>
        <td><%= link_to 'Edit', edit_page_layout_path(page_layout) %></td>
        <td><%= link_to 'Destroy', page_layout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= button_to '신규 추가', new_page_layout_path, method: :get, class: "btn btn-sm btn-success" %>

</div>

<br>