<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card">
        <div class="row no-gutters">
          <div class="col-4 p-3">
            <%= raw @page_layout.to_svg %>
          </div>
          <div class="col-8">
            <div class="card-body">
              <p>
                <span><strong>문서 가로:</strong> <%= @page_layout.doc_width %></span>
              </p>
              <p>
                <span><strong>문서 세로:</strong> <%= @page_layout.doc_height %></span>
              </p>
              <p>
                <span><strong>광고 타입:</strong> <%= @page_layout.ad_type %></span>
              </p>
              <p>
                <span><strong>페이지 타입:</strong> <%= @page_layout.page_type %></span>
              </p>
              <p>
                <span><strong>단의 수:</strong> <%= @page_layout.column %></span>
              </p>
              <p>
                <span><strong>행의 수:</strong> <%= @page_layout.row %></span>
              </p>
              <p>
                <span><strong>필러(기둥)의 수:</strong> <%= @page_layout.pillar_count %></span>
              </p>
              <p>
                <span><strong>그리드 가로:</strong> <%= @page_layout.grid_width %></span>
              </p>
              <p>
                <span><strong>그리드 세로:</strong> <%= @page_layout.grid_height %></span>
              </p>
              <p>
                <span><strong>여백(Gutter):</strong> <%= @page_layout.gutter %></span><br>
                *여백(Gutter): 좌우 양 페이지 사이의 여백
              </p>
              <p>
                <span><strong>여백(Margin):</strong> <%= @page_layout.margin %></span><br>
                *여백(Margin): 페이지의 여백
              </p>
              <p>
                <span><strong>레이아웃:</strong> <%= @page_layout.layout %></span>
              </p>
              <p>
                <span><strong>필러(기둥) 경로가 있는 레이아웃:</strong> <%= @page_layout.layout_with_pillar_path %></span>
              </p>
              <p>
                <span><strong>Like:</strong> <%= @page_layout.like %></span>
              </p>
              <p>
                <%= link_to "편집", edit_page_layout_path(@page_layout), class: "btn btn-primary btn-block" %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>