<p id="notice"><%= notice %></p>

<p>
  <strong>Doc width:</strong>
  <%= @page_layout.doc_width %>
</p>

<p>
  <strong>Doc height:</strong>
  <%= @page_layout.doc_height %>
</p>

<p>
  <strong>Ad type:</strong>
  <%= @page_layout.ad_type %>
</p>

<p>
  <strong>Page type:</strong>
  <%= @page_layout.page_type %>
</p>

<p>
  <strong>Column:</strong>
  <%= @page_layout.column %>
</p>

<p>
  <strong>Row:</strong>
  <%= @page_layout.row %>
</p>

<p>
  <strong>Pillar count:</strong>
  <%= @page_layout.pillar_count %>
</p>

<p>
  <strong>Grid width:</strong>
  <%= @page_layout.grid_width %>
</p>

<p>
  <strong>Grid height:</strong>
  <%= @page_layout.grid_height %>
</p>

<p>
  <strong>Gutter:</strong>
  <%= @page_layout.gutter %>
</p>

<p>
  <strong>Margin:</strong>
  <%= @page_layout.margin %>
</p>

<p>
  <strong>Layout:</strong>
  <%= @page_layout.layout %>
</p>

<p>
  <strong>Layout with pillar path:</strong>
  <%= @page_layout.layout_with_pillar_path %>
</p>

<p>
  <strong>Like:</strong>
  <%= @page_layout.like %>
</p>

<%= link_to 'Edit', edit_page_layout_path(@page_layout) %> |
<%= link_to 'Back', page_layouts_path %>
