
<%= simple_form_for(@spread_ad_box) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :ad_type %>
    <%= f.input :advertiser %>
    <%= f.input :row %>
    <%= f.input :width %>
    <%= f.input :height %>
    <%= f.association :spread %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
