<!-- 편집화면 상단에 자주쓰는 이전, 저장, 다운 버튼을 항상 보이게 설정 -->
<nav class="navbar navbar-default navbar-fixed-bottom">
<div class="btn-group" role="group" aria-label="기능">
  <%= link_to "신규 부서 추가", new_reporter_group_path, method: :get, class: "btn btn-default btn-sm" %>
</div>
</nav>

<div align="center">

<!-- p id="notice"><%= notice %></p-->

<h3>부서</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>팀</th>
      <th>팀장</th>
      <th>페이지 영역</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reporter_groups.each do |reporter_group| %>
      <tr>
        <td><%= reporter_group.section %></td>
        <td><%= reporter_group.leader %></td>
        <td style="text-align:center;"><%= reporter_group.page_range %></td>
        <td><%= link_to 'Show', reporter_group %></td>
        <td><%= link_to 'Edit', edit_reporter_group_path(reporter_group) %></td>
        <td><%= link_to 'Destroy', reporter_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
