<div class="text-center mt-3">
  <h3>부서</h3>
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>팀</th>
        <th>팀장</th>
        <th>페이지 영역</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @reporter_groups.each do |reporter_group| %>
        <tr>
          <td><%= reporter_group.section %></td>
          <td><%= reporter_group.leader %></td>
          <td style="text-align:center;"><%= reporter_group.page_range %></td>
          <td><%= link_to '보기', reporter_group %></td>
          <td><%= link_to '편집', edit_reporter_group_path(reporter_group) %></td>
          <td><%= link_to '삭제', reporter_group, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<!-- 편집화면 상단에 자주쓰는 이전, 저장, 다운 버튼을 항상 보이게 설정 -->
<nav class="navbar navbar-expand-lg justify-content-center">
  <%= link_to "신규 부서 추가", new_reporter_group_path, class: "btn btn-success btn-sm" %>
</nav>