<!-- p id="notice"><%= notice %></p-->
<h3 class="text-center">외신 사진</h3>
  <form class="form-inline d-flex justify-content-center">
    <%= search_form_for @q do |f| %>
      <div class="input-group col-6">
        <%= f.text_field :title_or_body_or_source_cont, placeholder: "검색어를 입력하세요.", class: "form-control" %>
        <div class="input-group-append">
          <%= f.button :submit, class: "btn btn-outline-secondary", id: "button-addon2" do %>
            <span><i class="fa fa-search" aria-hidden="true"></i> 사진 검색</span>
          <% end %>
        </div>
      </div>
    <% end %>
  </form>
<br>
<div class="view">
  <% @yh_photo_fr_ynas.each do |yh_photo_fr_yna| %>
    <div class="col-xs-5 col-sm-2">
      <a href="<%= yh_photo_fr_yna_path(yh_photo_fr_yna) %>"><img class="img-crop" src="<%= yh_photo_fr_yna.thumb_path %>"></img></a>
    <div align="center" style="height: 50px;"><%= yh_photo_fr_yna.title %></div>
    <p align="center"><%= yh_photo_fr_yna.source %></p>
  </div>
<% end %>
</div>
<div class="col-xs-12 col-sm-12" align="center">
  <%= paginate @yh_photo_fr_ynas %>
</div>
