
<%= form_with(model: @graphic_request, local: true) do |f| %>
  <% if @graphic_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(graphic_request.errors.count, "error") %> prohibited this graphic_request from being saved:</h2>

      <ul>
      <% @graphic_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-row mt-2">
    <%= f.label :date, "날짜", class: "col-2" %>
    <div class="col-10">
      <%= f.date_select :date %>
    </div>
  </div>
  <div class="form-row mt-2">
    <%= f.label :status, "진행상황", class: "col-2" %>
    <div class="col-10">
      <%= f.text_field :status, class: "form-control form-control-sm" %>
    </div>
  </div>

  <div class="form-row align-items-center mt-2">
    <%= f.label :designer, '디자이너', class: "col-2" %>
    <div class="col-10">
      <%= f.select :designer, ['양유미', '한승효','안상현','이지혜','반수희','지선미'], { include_blank: true }, { class: "form-control form-control-sm" } %>
    </div>
  </div>

  <div class="form-row align-items-center mt-2">
    <%= f.label :request, '요청 설명', class: "col-2" %>
    <div class="col-10">
      <%= f.text_area :request, rows: 5, class: "form-control" %>
    </div>
  </div>

  <div class="form-row align-items-center mt-2">
    <%= f.label :data, "데이터", class: "col-2" %>
    <div class="col-10">
      <%= f.text_area :data, rows: 10, class: "form-control" %>
    </div>
  </div>

  <div class="form-row align-items-center mt-3">
    <div class="col-4">
      <%= f.label :page_column, '페이지 단' %>
      <%= f.select :page_column, [5, 6, 7], {}, { class: "form-control" } %>
    </div>
    <div class="col-4">
      <%= f.label :column, "단" %>
      <%= f.select :column, [1, 2, 3, 4, 5, 6, 7], {}, { class: "form-control" } %>
    </div>
    <div class="col-4">
      <%= f.label :row, "열" %>
      <%= f.select :row, [1, 2, 3, 4, 5, 6, 7], {}, { class: "form-control" } %>
    </div>
  </div>

  <div class="form-group mt-2">
    <%= f.button "저장", class: "btn btn-primary btn-block btn-sm", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> 처리중..."} %>
  </div>
<% end %>

