
<%= simple_form_for(@article_kind) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :publication %>
    <%= f.input :name %>
    <%= f.input :line_draw_sides %>
    <%= f.input :input_fields %>
    <%= f.input :bottoms_space_in_lines %>
    <%= f.input :layout_erb %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
