  <!-- p id="notice"><%= notice %></p-->
  <h3 class="text-center">오피니언 저자</h3>
  <div class="row justify-content-center">
    <%= search_form_for(@q, html: { class: "form-inline "}) do |f| %>
      <%= f.label '이름에 포함된 글자로', class: "mr-1" %>
      <%= f.search_field :name_cont, class: "form-control mr-2" %>
      <%= f.label '제목에 포함된 글자로', class: "mr-1" %>
      <%= f.search_field :title_cont, class: "form-control mr-2" %>
      <%= f.submit "검색", class: "btn btn-primary btn-sm"%>
    <% end %>
  </div>
<p></p>
<div class="container-fluid">
  <div class="row">
    <% @opinion_writers.each do |writer| %>
      <div class="col-md-2">
        <% if browser.safari? %>
        <div class="card" style="width: 18rem;">
          <%= link_to opinion_writer_path(writer) do %>
            <img src="<%= writer.pdf_image_path %>" width="100%" class="mb-0">
          <% end %>
          <div class="card-body">
            <%= link_to opinion_writer_path(writer) do %>
              <h5 class="card-title mt-0"><%= writer.name %></h5>
            <% end %>
            <p class="card-text"><%= link_to '삭제', writer, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          </div>
        </div>
        <% else %>
          <div class="card" style="width: 18rem;">
            <%= link_to opinion_writer_path(writer) do %>
              <img src="<%= writer.jpg_image_path %>" width="100%" class="mb-0">
            <% end %>
            <div class="card-body">
              <%= link_to opinion_writer_path(writer) do %>
                <h5 class="card-title mt-0"><%= writer.name %></h5>
              <% end %>
              <p class="card-text"><%= link_to '삭제', writer, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<nav class="navbar navbar-expand-lg justify-content-center">
  <%= link_to "새로운 저자등록", new_profile_path, method: :get, class: "btn btn-success btn-sm mr-2" %>
  <%= link_to '다운로드 CSV', profiles_path(format: "csv"), method: :get, class: "btn btn-warning btn-sm" %>
</nav>