  <!-- p id="notice"><%= notice %></p-->
  <h3>오피니언 저자</h3>
  <%= search_form_for @q do |f| %>
  <%= f.label '이름에 포함된 글자로' %>
  <%= f.search_field :name_cont %>
  <%= f.label '제목에 포함된 글자로' %>
  <%= f.search_field :title_cont %>
  <%= f.submit "검색", class: "btn btn-sm btn-normal"%>
  <% end %>
<p></p>

<div class="view">
<% @opinion_writers.each do |writer| %>
  <div class="col-xs-6 col-md-3" align='center'>
    <% if browser.safari? %>
      <a href="<%=  opinion_writer_path(writer) %>">
        <img src="<%= writer.pdf_image_path %>" width="100%"></img>
      </a>
      <h4 align='center'>
        <a href='<%= opinion_writer_path(writer)%>'><%= writer.name %></a>
      </h4>
      <h5>
        <%= link_to '삭제', writer, method: :delete, data: { confirm: 'Are you sure?' } %></h5>

    <% else %>
      <a href="<%=  opinion_writer_path(writer) %>">
        <img src="<%= writer.jpg_image_path %>" width="100%"></img>
      </a>
      <h4 align='center'>
        <a href='<%= opinion_writer_path(writer)%>'><%= writer.name %></a>
      </h4>
      <p>
        <%= link_to '삭제', writer, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <p></p>

    <% end %>
  </div>
  <!-- true -->
<% end %>

<!-- <br> <div align="center"> <%= link_to '새로운 저자등록', new_opinion_writer_path , method: :get, class: "btn btn-md btn-success" %> <%= link_to "다운로드 CSV", opinion_writers_path(format: "csv"), method: :get, class: "btn-group btn btn-sm btn-warning" ,
align: "center"%> </div> -->

<!-- 편집화면 상단에 자주쓰는 이전, 저장, 다운 버튼을 항상 보이게 설정 -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="btn-group" role="group" aria-label="기능">
    <%= link_to '새로운 저자등록', new_opinion_writer_path , method: :get, class: "btn btn-default btn-sm" %>
    <%= link_to "다운로드 CSV", opinion_writers_path(format: "csv"), method: :get, class: "btn btn-default btn-sm" %>
  </div>
</nav>