<h3 align="center">출고 그래픽</h3>


<div class="col-xs-12 col-sm-12" align="center">
  <%= paginate @yh_graphics %>
</div>

<div class="view">
  <% @yh_graphics.each do |yh_graphic| %>
    <div class="col-xs-5 col-sm-3">
      <a href="<%= yh_graphic_path(yh_graphic) %>"><img class="img-crop" src="<%= yh_graphic.thumb_path %>"></img></a>
      <p align="center"><%= yh_graphic.title %></p>
    </div>
  <% end %>
</div>

<div class="col-xs-12 col-sm-12" align="center">
  <%= paginate @yh_graphics %>
</div>

