<%= form_with model: member_image do |f| %>
  <% if member_image.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(member_image.errors.count, "error") %> prohibited this member_image from
        being saved:
      </h2>
      <ul>
        <% member_image.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.label "첨부파일"%>
    <div class="custom-file">
      <%= f.file_field :member_img, as: :file, label: "이미지 첨부파일", label_html: { class: "custom-file-label" }, wrapper: false, input_html: { class: "custom-file-input" } %>
    </div>
    <div class="form-group mt-1">
      <%= f.text_field :title, label: "제목:", placeholder: "제목을 입력해주세요", class: "form-control form-control-sm" %>
    </div>
    <div class="form-group mt-1">
      <%= f.text_area :caption, label: "설명:", placeholder: "설명을 입력해주세요", class: "form-control form-control-sm" %>
    </div>
    <div class="form-group mt-1">
      <%= f.text_field :source, label: "출처:", placeholder: "출처를 입력해주세요", class: "form-control form-control-sm" %>
    </div>
    <div class="form-group mt-1">
      <%= f.number_field :order, label: "사진순서:", placeholder: "사진순서를 숫자로 입력해주세요", class: "form-control form-control-sm" %>
    </div>
  <div class="form-group mt-3">
    <%= f.submit "저장", class: "btn btn-info btn-sm" %>
  </div>
<% end %>
