<%= form_for(graphic) do |f| %>
  <% if graphic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(graphic.errors.count, "error") %> prohibited this graphic from being saved:</h2>
      <ul>
        <% graphic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="btn-group btn-block">
      <%= f.button "저장", class: "btn btn-primary" %>
      <%= link_to '삭제', graphic, method: :delete, data: { confirm: '그래픽 이미지를 삭제하시겠습니까?' }, class: "btn btn-danger" %>
    </div>
  </div>
  <div class="form-group">
    <div class="custom-file">
      <%= f.file_field :storage_graphic, class: "custom-file-input", id: "customFileLangHTML" %>
      <%= f.label :storage_graphic, class: "custom-file-label", for: "customFileLangHTML", data: {browse: "첨부파일"} %>
    </div>
  </div>
  <div class="form-group mt-3 p-3 border shadow-sm">
    <% if graphic.storage_graphic.attached? %>
      <!-- %= image_tag image.image.url, style: "padding-bottom:20px" % -->
      <%= image_tag graphic.storage_graphic, :width => "100%", :height => "200px", style: "object-fit: contain; height: 15em !important;", id: "preview" %>
    <% else%>
      <%= image_tag graphic.empty_image_url, :width => "100%", style: "padding-bottom:20px" %>
    <% end %>
    <p class="text-center mb-0">이미지 사이즈: <%= graphic.size_string %></p>
  </div>
  <div class="form-check form-check-inline mt-3">
    <%= f.check_box :draw_frame, class: "form-check-input" %>
    <%= f.label "테두리선 추가:", class: "form-check-label" %>
  </div>
  <hr>
  <div class="form-group">
    <%= f.label :fit_type, "그래픽 정렬설정:" %>
    <%= f.select :fit_type, %w[최적 가로 세로 욱여넣기], {include_blank: false}, class: "form-control" %>
  </div>
  <hr>
  <div class="form-group mt-3">
    <%= f.label :position, "위치설정:" %>
    <%= f.text_field :position, style: "width: 40px", class: 'form-control' %> / 
    <%= f.label :x_grid, "가로시작 설정:" %>
    <%= f.text_field :x_grid, style: "width: 40px", class: 'form-control' %>
  </div>
  <hr>
  <div class="form-group mt-3">
    <%= f.label :column, "크기설정:" %>
    <%= f.text_field :column, style: "width: 40px", class: 'form-control' %> 단  x  
    <%= f.text_field :row, style: "width: 40px", class: 'form-control' %> 열
    <%= f.text_field :extra_height_in_lines, style: "width: 40px", class: 'form-control' %> 행 추가
  </div>
  <!-- div class="field">
          <%= f.label '페이지' %>
          <%= f.text_field :page_number %>
        </div>
        <div class="field">
          <%= f.label '기사 번호' %>
          <%= f.text_field :story_number %>
        </div -->
  <hr>
  <h5 class="text-center mt-3">XML 전송용 필드</h5>
  <div class="form-group">
    <%= f.label "XML 전송용 제목:" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "XML 전송용 설명:" %>
    <%= f.text_area :description, class: "form-control", style: "height: 350px;" %>
  </div>
  <div class="form-group">
    <div class="btn-group btn-block">
      <%= f.button "저장", class: "btn btn-primary" %>
      <%= link_to '삭제', graphic, method: :delete, data: { confirm: '그래픽 이미지를 삭제하시겠습니까?' }, class: "btn btn-danger" %>
    </div>
  </div>
  <hr>
  <!-- 편집화면 하단에 자주쓰는 이전, 저장, 다운 버튼을 항상 보이게 설정 
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="btn-group" role="group" aria-label="기능">
      <%= link_to "교정 전송", send_proof_reading_pdf_page_path(@working_article.page), method: :get, data: { confirm: '정말 보내시겠습니까?'}, class: "btn btn-default btn-sm" %>
      <%= link_to "인쇄 전송", send_pdf_to_printer_page_path(@working_article.page), method: :get, data: { confirm: '정말 보내시겠습니까?'}, class: "btn btn-default btn-sm" %>
      <%= link_to "페이지 PDF", download_pdf_page_path(@working_article.page), method: :get, class: "btn btn-default btn-sm" %>
      <%= link_to "기사 PDF", download_pdf_working_article_path(@working_article), method: :get, class: "btn btn-default btn-sm" %>
    </div>
    <div class="btn-group btn-right" role="group" aria-label="기능">
      <%= link_to "이전으로", page_path(@working_article.page), method: :get, class: "btn btn-default btn-sm" %>
      <%= f.button "저장", class: "btn btn-primary btn-sm", remote: true, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> 처리중..."} %>
    </div>
  </nav>
  -->
<% end %>
