<%# add navigation links to this file %>
<!-- ul class="nav navbar-nav navbar-center" -->
<li class="dropdown nav-item">
  <div class="dropdown-toggle nav-link" data-toggle="dropdown"><%= "#{ko_date}" %><span class="caret"></span></div>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <% if current_user && (current_user.role == 'chief_editor' || current_user.role == 'team_leader' || current_user.role == 'designer' || current_user.role == 'admin') %>
      <%= link_to '새로운 호 생성', new_issue_path, class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to '면 배열표', current_plan_issue_path(Issue.last.id), class: "dropdown-item" %>
    <% end %>
    <%= link_to '출력 현황', print_status_issue_path(Issue.last.id), class: "dropdown-item" %>
    <div class="dropdown-divider"></div>
    <% if current_user && current_user.role == 'reporter' %>
      <% case current_user.group  %>
      <% when  '1면' %>
      <%= link_to '<1면> 편집', first_group_issue_path(Issue.last.id), class: "dropdown-item" %>
      <%= link_to '<1면> 기사배정', first_group_stories_issue_path(Issue.last.id), class: "dropdown-item" %>
      <% when  '정치' %>
      <%= link_to '<정치> 편집', second_group_issue_path(Issue.last.id), class: "dropdown-item" %>
      <%= link_to '<정치> 기사배정', second_group_stories_issue_path(Issue.last.id), class: "dropdown-item" %>
      <% when  '자치행정' %>
      <%= link_to '<자치행정> 편집', third_group_issue_path(Issue.last.id), class: "dropdown-item" %>
      <%= link_to '<자치행정> 기사배정', third_group_stories_issue_path(Issue.last.id), class: "dropdown-item" %>
      <% when  '자치행정' %>
      <%= link_to '<국제통일> 편집', fourth_group_issue_path(Issue.last.id), class: "dropdown-item" %>
      <%= link_to '<국제통일> 기사배정', fourth_group_stories_issue_path(Issue.last.id), class: "dropdown-item" %>
      <% when  '금융' %>
      <%= link_to '<금융> 편집', fifth_group_issue_path(Issue.last.id), class: "dropdown-item" %>
      <%= link_to '<금융> 기사배정', fifth_group_stories_issue_path(Issue.last.id), class: "dropdown-item" %>
      <% when  '산업' %>
      <%= link_to '<산업> 편집', sixth_group_issue_path(Issue.last.id), class: "dropdown-item" %>
      <%= link_to '<산업> 기사배정', sixth_group_stories_issue_path(Issue.last.id), class: "dropdown-item" %>
      <% when  '정책' %>
      <%= link_to '<정책> 편집', seventh_group_issue_path(Issue.last.id), class: "dropdown-item" %>
      <%= link_to '<정책> 기사배정', seventh_group_stories_issue_path(Issue.last.id), class: "dropdown-item" %>
      <% when  '기획' %>
      <%= link_to '<기획> 편집', eighth_group_issue_path(Issue.last.id), class: "dropdown-item" %>
      <%= link_to '<기획> 기사배정', eighth_group_stories_issue_path(Issue.last.id), class: "dropdown-item" %>
      <% when  '오피니언' %>
      <%= link_to '<오피니언> 편집', nineth_group_issue_path(Issue.last.id), class: "dropdown-item" %>
      <%= link_to '<오피니언> 기사배정', nineth_group_stories_issue_path(Issue.last.id), class: "dropdown-item" %>
    <% end %>
  <% else %>
    <%= link_to '전체보기', issue_path(Issue.last.id), class: "dropdown-item" %>
    <%= link_to '1면', first_group_issue_path(Issue.last.id), class: "dropdown-item" %>
    <%= link_to '정치', second_group_issue_path(Issue.last.id), class: "dropdown-item" %>
    <%= link_to '자치행정', third_group_issue_path(Issue.last.id), class: "dropdown-item" %>
    <%= link_to '국제통일', fourth_group_issue_path(Issue.last.id), class: "dropdown-item" %>
    <%= link_to '금융', fifth_group_issue_path(Issue.last.id), class: "dropdown-item" %>
    <%= link_to '산업', sixth_group_issue_path(Issue.last.id), class: "dropdown-item" %>
    <%= link_to '정책', seventh_group_issue_path(Issue.last.id), class: "dropdown-item" %>
    <%= link_to '기획', eighth_group_issue_path(Issue.last.id), class: "dropdown-item" %>
    <%= link_to '오피니언', nineth_group_issue_path(Issue.last.id), class: "dropdown-item" %>
  <% end %>
  <div class="dropdown-divider"></div>
  <%= link_to '돌출 광고', heading_ad_images_path, class: "dropdown-item" %>
  <%= link_to '전면 광고', ad_group_issue_path(Issue.last.id), class: "dropdown-item" %>
  <% if Issue.last.spread %>
    <div class="dropdown-divider"></div>
    <%= link_to '양면(12-13)', spread_issue_path(Issue.last.id), class: "dropdown-item" %>
  <% end %>
</div>
</li>
<li class="dropdown nav-item">
  <div class="dropdown-toggle nav-link" data-toggle="dropdown">기사작성<span class="caret"></span></div>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <%= link_to '나의 기사', my_stories_path, class: "dropdown-item" %>
    <%= link_to '나의 사진', my_reporter_images_path, class: "dropdown-item" %>
    <%= link_to '나의 그래픽', my_reporter_graphics_path, class: "dropdown-item" %>
    <div class="dropdown-divider"></div>
    <%= link_to '그래픽 의뢰', my_graphic_requests_path, class: "dropdown-item" %>
  </div>
</li>
<li class="dropdown nav-item">
  <div class="dropdown-toggle nav-link" data-toggle="dropdown">연합뉴스<span class="caret"></span></div>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <%= link_to '연합 국내취재 기사', yh_articles_path, class: "dropdown-item" %>
    <%= link_to '연합 국내취재 사진', yh_pictures_path, class: "dropdown-item" %>
    <%= link_to '번역 외신 사진', yh_photo_trs_path, class: "dropdown-item" %>
    <%= link_to '외신 사진', yh_photo_fr_ynas_path, class: "dropdown-item" %>
    <%= link_to '연합 그래픽', yh_graphics_path, class: "dropdown-item" %>
    <%= link_to 'PR보도자료', yh_prs_path, class: "dropdown-item" %>
  </div>
</li>
<li class="dropdown nav-item">
  <div class="dropdown-toggle nav-link" data-toggle="dropdown">검색<span class="caret"></span></div>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <%= link_to '지난호 보기', issues_path, class: "dropdown-item" %>
    <div class="dropdown-divider"></div>
    <%= link_to '기사 제목/본문 검색', working_articles_path, class: "dropdown-item" %>
    <%= link_to '페이지 검색', pages_path, class: "dropdown-item" %>
  </div>
</li>
<% if current_user && (current_user.role == 'designer' || current_user.role == 'admin') %>
  <li class="dropdown nav-item">
    <div class="dropdown-toggle nav-link" data-toggle="dropdown">디자인 편집<span class="caret"></span></div>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= link_to '그래픽 의뢰', graphic_requests_path, class: "dropdown-item" %>
      <!-- link_to '그래픽 의뢰', reporter_graphics_path -->
      <div class="dropdown-divider"></div>
      <%= link_to '매체 정보', publication_path(1), class: "dropdown-item" %>
      <%= link_to '서체 목록', text_styles_path, class: "dropdown-item" %>
      <%= link_to '페이지 템플렛', sections_path, class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to '광고 목록', ads_path, class: "dropdown-item" %>
      <%= link_to '합성광고 템플렛', combo_ads_path, class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to '1면 면머리', heading_bg_images_path, class: "dropdown-item" %>
    </div>
  </li>
  <li class="dropdown nav-item">
    <div class="dropdown-toggle nav-link" data-toggle="dropdown">기자정보<span class="caret"></span></div>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= link_to '오피니언 저자', opinion_writers_path, class: "dropdown-item" %>
      <%= link_to '기고 저자', profiles_path, class: "dropdown-item" %>
      <%= link_to '색션별 팀장', reporter_groups_path, class: "dropdown-item" %>
      <%= link_to '기자', reporters_path, class: "dropdown-item" %>
    </div>
  </li>
  <!-- <%= link_to '면머리', page_headings_path, class: "dropdown-item" %> -->
<% end %>
<% if current_user && @working_article %>
  <li class="divider-vertical"></li>
  <li class="dropdown nav-item">
    <div class="dropdown-toggle nav-link" data-toggle="dropdown">발문<span class="caret"></span></div>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= link_to '오피니언 2행 발문', show_quote_box_for_opinion2_working_article_path, class: "dropdown-item" %>
      <%= link_to '오피니언 3행 발문', show_quote_box_for_opinion3_working_article_path, class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to '일반 발문 추가', show_quote_box_working_article_path, class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to '발문 삭제', hide_quote_box_working_article_path, class: "dropdown-item" %>
    </div>
  </li>
  <li class="dropdown nav-item">
    <div class="dropdown-toggle nav-link" data-toggle="dropdown">부제/안내문<span class="caret"></span></div>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= link_to '본문 부제(고딕_회색)  추가', boxed_subtitle_one_working_article_path, class: "dropdown-item" %>
      <%= link_to '본문 부제(테두리)  추가 추가', boxed_subtitle_two_working_article_path, class: "dropdown-item" %>
      <%= link_to '본문 부제 삭제', boxed_subtitle_zero_working_article_path, class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <% if page_number == 1 %>
        <%= link_to '1단 안내문(내일 쉽니다...) 추가', announcement_one_working_article_path, class: "dropdown-item" %>
        <%= link_to '2단 안내문(연속기사...) 추가', announcement_two_working_article_path, class: "dropdown-item" %>
        <%= link_to '안내문 삭제', announcement_zero_working_article_path, class: "dropdown-item" %>
      <% end %>
    </div>
  </li>
  <% end %>
  <% if @working_article.single_child?%>
  <% elsif @working_article.attached_type %>
    <li class="dropdown nav-item">
      <div class="dropdown-toggle nav-link" data-toggle="dropdown">기사박스<span class="caret"></span></div>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <% if @working_article.drop_splitable?%>
          <%= link_to '내림기사 나누기', split_drop_working_article_path(@working_article), class: "dropdown-item" %>
        <% end %>
        <%= link_to '기사 삭제', remove_article_working_article_path(@working_article), class: "dropdown-item" %>
      </div>
      </div>
    </li>
  <% elsif @working_article.pillar_bottom?%>
    <li class="dropdown nav-item">
      <div class="dropdown-toggle nav-link" data-toggle="dropdown">기사박스<span class="caret"></span></div>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <% if @working_article.v_splitable? && !@working_article.pillar.has_drop_article? %>
          <%= link_to '기사박스 나누기', divide_at_default_working_article_path(@working_article), class: "dropdown-item" %>
        <% end %>
        <% if @working_article.overlapable_one? %>
            <div class="dropdown-divider"></div>
            <%= link_to '쪽기사 추가', add_overlap_working_article_path(@working_article), class: "dropdown-item" %>
        <% end %>

        <% if @working_article.addable?%>
          <div class="dropdown-divider"></div>
          <%= link_to '기사 추가', add_article_working_article_path, class: "dropdown-item" %>
        <% end %>
        <% if @working_article.pillar.working_articles.count > 1  %>
          <div class="dropdown-divider"></div>
          <%= link_to '기사 삭제', remove_article_working_article_path(@working_article), class: "dropdown-item" %>
        <% end %>
      </div>
    </li>

  <% elsif @working_article.pillar%>
    <li class="dropdown nav-item">
      <div class="dropdown-toggle nav-link" data-toggle="dropdown">기사박스<span class="caret"></span></div>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= link_to '1행 추가', extend_one_working_article_path, class: "dropdown-item" %>
      <%= link_to '2행 추가', extend_two_working_article_path, class: "dropdown-item" %>
      <%= link_to '3행 추가', extend_three_working_article_path, class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to '0행 복구', extend_zero_working_article_path, class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to '1행 줄이기', reduce_one_working_article_path, class: "dropdown-item" %>
      <%= link_to '2행 줄이기', reduce_two_working_article_path, class: "dropdown-item" %>
      <%= link_to '3행 줄이기', reduce_three_working_article_path, class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to '자동 행 조절', auto_adjust_height_working_article_path, class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to '글줄기 모두 0 행 복구', revert_all_extended_lines_working_article_path, class: "dropdown-item" %>

      <div class="dropdown-divider"></div>

      <% if @working_article.v_splitable? && !@working_article.pillar.has_drop_article?%>
        <%= link_to '기사박스 나누기', divide_at_default_working_article_path(@working_article), class: "dropdown-item" %>
      <% end %>
      <% if @working_article.delete_able? %>
          <%= link_to '기사 삭제', remove_article_working_article_path(@working_article), class: "dropdown-item" %>
      <% end %>
      <% if !@working_article.pillar.has_drop_article? %>
        <div class="dropdown-divider"></div>
        <%= link_to '내림기사 추가', add_default_drop_working_article_path(@working_article), class: "dropdown-item" %>
      <% end %>

      <% if @working_article.overlapable? %>
        <div class="dropdown-divider"></div>
        <%= link_to '쪽기사 추가', add_overlap_working_article_path(@working_article), class: "dropdown-item" %>
      <% end %>

      <% if @working_article.siblings.length == 1 %>
        <div class="dropdown-divider"></div>
        <%= link_to '아래 박스와 기사 교환', swap_working_article_path, class: "dropdown-item" %>
      <% end %>
      </div>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to "<#{current_user.name}> " '로그아웃', destroy_user_session_path, method: :delete, class: "nav-link" %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to '로그인', new_user_session_path, class: "nav-link" %>
    </li>
  <% end %>
