<%= simple_form_for(@member) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-group">
    <% if @member.image.attached? %>
      <%= image_tag @member.image, class: "img-fluid" %>
    <% end %>
    <div class="custom-file">
      <%= f.input :image, as: :file, label: "이미지 첨부파일", label_html: { class: "custom-file-label" }, wrapper: false, input_html: { class: "custom-file-input" } %>
    </div>
    <%= f.input :caption_title, label: "사진 제목:", wrapper: false, input_html: { class: "form-control" }, placeholder: "사진 제목을 입력해주세요." %>
    <%= f.input :caption_description, label: "사진 설명:", wrapper: false, input: { class: "form-control" }, placeholder: "사진 설명을 입력해주세요." %>
    <%= f.input :source, label: "출처:", wrapper: false, input: { class: "form-control" }, placeholder: "사진 출처를 입력해주세요." %>
    <%= f.input :order, label: "사진 순서:", wrapper: false, input: { class: "form-control" }, placeholder: "사진 순서를 설정하십시오." %>
  </div>
  <div class="form-group mt-3">
    <%= f.button :submit, "저장", class: "btn btn-lg btn-block btn-info" %>
  </div>
  <% if @member.persisted? %>
    <div class="form-group mt-2">
      <%= link_to "취소", member_path(@member), class: "btn btn-lg btn-block btn-danger" %>
    </div>
  <% else %>
    <div class="form-group mt-2">
      <%= link_to "취소", members_path, class: "btn btn-lg btn-block btn-danger" %>
    </div>
  <% end %>
<% end %>
